<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.employee.persistence.EmployeeDAO">

    <!-- 전체 직원 조회 -->
    <select id="getAllEmployees" resultType="com.itwill.employee.domain.EmployeeVO">
        SELECT * FROM EMPLOYEE
    </select>

    <!-- 사번으로 직원 조회 -->
    <select id="getEmployeeById" parameterType="string" resultType="com.itwill.employee.domain.EmployeeVO">
        SELECT * FROM EMPLOYEE WHERE emp_id = #{empId}
    </select>

    <!-- 사용자용 직원 정보 수정 -->
    <update id="updateEmployeeUser" parameterType="com.itwill.employee.domain.EmployeeVO">
        UPDATE EMPLOYEE
        SET emp_phone = #{empPhone},
            emp_email = #{empEmail},
            emp_address = #{empAddress},
            emp_pht = #{empPht}
        WHERE emp_id = #{empId}
    </update>

    <!-- 관리자용 직원 정보 수정 -->
    <update id="updateEmployeeAdmin" parameterType="com.itwill.employee.domain.EmployeeVO">
	    UPDATE EMPLOYEE
	    SET
	    	dep_id = #{depId},
	        dep_name = #{depName},
	        pos_id = #{posId},
	        rank_id = #{rankId},
	        role_id = #{roleId},
	        emp_cn = #{empCn},
	        emp_qd = #{empQd}
	    WHERE emp_id = #{empId}
	</update>


    <!-- 퇴사일 수정 -->
   <update id="updateResignationDate" parameterType="map">
	    UPDATE EMPLOYEE
	    SET emp_qd = #{empQd}
	    WHERE emp_id = #{empId}
	</update>

    <!-- 사원 삭제 -->
    <delete id="deleteEmployee" parameterType="string">
        DELETE FROM EMPLOYEE WHERE emp_id = #{empId}
    </delete>

</mapper>
